body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    

}

.navbar {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    background: darkred;
    color: beige;


}

.rest-title {
    font-size: 1.5rem;
    margin: .5rem ;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;

}

.navbar-links li {
    list-style: none;
}

.navbar-links a {
    text-decoration: none;
    color: beige;
    padding: 1rem;
    display: block;

}

.navbar-links li:hover {
    background-color: rgb(173, 2, 2);
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;

}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: beige;
    border-radius: 10px;

}





.hero {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(images/ribs.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: brightness(60%);

}

.hero-content {
    position: relative;
    color:beige; 
    text-align: center;
    margin: .625rem;
    padding: 5em;
    font-size: 20px;
    
}

.btn {
    display: inline-block;
    padding: .3em 1.0em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 3px;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 300;
    color: burlywood;
    background-color: darkred;
    text-align: center;
}

.hero-title {
    font-family: 'IM Fell English SC', serif;
    font-size: 75px;
    margin-bottom: 0px;
}

.hero-subtitle {
    font-family: 'IM Fell English SC', serif;
    font-size: 25px;
    margin-top: 0px;


}

header {
    background-color: darkred;
    font-family: 'IM Fell English SC', serif;
    color: beige;
    font-size: 25px;
    margin-top: 10px;

}

.aboutus {
    background-color: darkred;
    background-repeat: none;
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    padding: 1.5em;
    font-size: 14px;
    font-family: 'IM Fell English SC' ;
    color: beige;
}

.about {
    margin-top: 0px;
    padding: 1.5em;
   
    
}






.main-menu-heading {
    display: flex;
    justify-content: center;
    font-family: 'IM Fell English SC';
    width: 100%;
    
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.5em;

}

.container2 {
    max-width: 1000px;
    display:flex;
    align-items: center;
    padding: 1.5em;
}

.menu {
    font-family: 'Lato', sans-serif;
    font-size: 14px; 

}

.menu-group-heading {
    margin: 0;
    padding-bottom: 1em;
    border-bottom: 2px solid rgb(185, 148, 148);
    font-family: 'IM Fell English SC';
}

.menu-group {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5em; /*use 1.5em everywhere*/
    padding: 1.5em 0;
}

.menu-item {
    display: flex;
}

.menu-item-image {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    object-fit: cover; /*fixed weird aspect ratio*/
    margin-right: 1.5em;
}

.menu-item {
    flex-grow: 1;
}

.menu-item-heading {
    display: flex;
    justify-content: space-between; /*fixes price line up issue menu item name and price are space between in heading*/
    margin: 0;
}

.menu-item-name {
    margin-right: 1.5em;
}

.menu-item-description {
    line-height: 1.6;
}



.img-col {
    max-width: 100%;
    flex-basis: 50%;
    border-radius: 50%;
}

.text-col {
    margin-left: 1em;
}



.responsive {
    width: 100%;
    height: auto;
}

.hours {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    float: right;
}

.sign {
    background-color: darksalmon;
}

.sammy {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    vertical-align: middle;
}

footer {
    font-family:'IM Fell English SC', serif;
}

.column {
    float: left;
    width: 50%;
    
}

.menuhead {
    text-align: center;
}

.about {
    display: inline;
    
}

.cntctus {
    background-color: darkred;
    background-repeat: none;
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    justify-content: column;
    padding: 1.5em;
    font-size: 14px;
    font-family: 'IM Fell English SC' ;
    color: beige;
}

.signup {
    
    display: table-row;
    flex-direction: column;
    justify-content: center;
   
    font-family: 'IM Fell English SC';
}





.one {
    display: flex;
    float: left;
    width: 50%;
}

.two {

    display: flex;
    float: left;
    width: 50%;
    text-align: center;

}

.footer {
    background: darkred;
    color: beige;
    height: 400px;
    position: relative;

}

.footer .footer-content {
    border: 1px solid red;
    height: 400px;
    display: flex;

}

.footer .footer-content .footer-section {
    border: 1px solid white;
    flex: 1;
    padding: 25px;
}


.footer .footer-bottom {
    background: rgb(100, 6, 6);
    color: dimgrey;
    height: 50px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;

}

.footer-section-hours {
    display: flex;
    justify-content: center;
    flex-direction: right;

}

.hours {
    display: inline;
}

.one{
    display: inline-block;
    text-align: center;
}
.h3 > img{
    display: block;
}

.two {
    display: inline-block;
    text-align: center;
}

.h3 > table {
    display: block;
}





/*MEDIA QUERIES*/

@media screen and (min-width: 992px) {
    .menu {
        font-size: 16px;
    }

    .menu-group {
        grid-template-columns: repeat(2, 1fr); /*fr sets colum size to fraction of page*/
    }

    .menu-item-image {
        width: 125px;
        height: 125px; /*larger menu pics for desktop*/
    }

    .aboutus {
        font-size: 16px;
    }

    


}

@media (max-width: 600px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
       display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;

        
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: .5rem 1rem;
    }
    
    .navbar-links.active {
        display: flex;
    }

    .container2 {
        flex-direction: column;
        align-items: flex-start;

    }


    
}
